.halfday {



  @each $value in $color-list {
    .halfday-bg--#{nth($value, 1)} {
      background-color: nth($value, 2);
    }
  }

  &--inner {
    min-height: 4rem;

    padding-left: 0.6rem;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
  }

  &--teacher,
  &--lession,
  &--comment {
    font-weight: bold;
    .bg {
      padding-right: 0.4rem;
      padding-left: 0.4rem;
      box-decoration-break: clone;
    }
  }

  &--lession {
    .bg {
      padding-top: 0.05rem;
      padding-bottom: 0.05rem;
    }
  }

  &--lession,
  &--comment {

    .bg {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  &--teacher,
  &--comment {
    font-size: 0.6rem;
    .bg {
      padding-top: 0.04rem;
      padding-bottom: 0.03rem;
    }
  }

  &--teacher {
    .bg {
      background-color: #333;

    }
    color: #bbb;
    display: table;

  }
  &--lession {
    color: black;
  }
  &--comment {
    color: black;
  }


}
