.week {
  // @include container;
  @include border-top();

  display: flex;

  @media print {
    page-break-inside: avoid;
  }

  // p {
  //   margin-top: 0;
  // }

  &-header {
    display: flex;


    &--title{
      flex: 1 1 span(3 of 4);
    }

    &--day{
      flex: 1 1 span(1 of 4);
      p {
        text-align: right;
        margin-top: 0.9rem;
      }
    }
    &--fr,
    &--sa {

        min-height: 4rem;

        padding-top: 0.6rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0.2rem;
    }

  }

  &--text {
    flex: 1 1 span(4);
    padding-right: gutter() / 2;
  }

  &--date {
    flex: 1 1 span(12);
    padding-left: gutter() / 2;
  }

  &--day {
    display: flex;
  }

  &-FR--day {
    margin-bottom: 0.2rem;
  }

  &--allweek {
    flex: 1 1 span(12 of 12);
  }

  &--morning,
  &--afternoon {
    flex: 1 1 span(6 of 12);
  }
}
