<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Semesterplan</title>
    <link href="./css/main.css" rel="stylesheet" />

  </head>
  <body>
    <div class="container">
      <h1>Semesterplan – IAD2017</h1>
      <h3>Zimmer 510 – Schule für Gestaltung Zürich, Ausstellungsstrasse 104, 
8005 Zürich</h3>
      <p>Änderungen vorbehalten.</p>
    </div>

    <div class="container">
      {{>semester}}
    </div>

    <div class="pagebreak"></div>

    <div class="container">
      {{>table}}
    </div>
    
    <div class="container">
      <h3>Projektwoche 2017 – 16.7.-20.7.2018</h3>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="container">
      <a href="https://github.com/logrinto/IAD2017.timetable" target="_blank">→ Stundenplan auf Github</a>
      <a href="webcal://logrinto.github.io/IAD2017.timetable/IAD.ics" target="_blank">→ Stundenplan abonnieren</a>



    </div>
  </body>
</html>
