<!DOCTYPE html>
<html lang="{{site.language}}">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <link href="./css/main.css" rel="stylesheet" />

  </head>
  <body>

    <div class="container">
      {{>semester}}
    </div>

    <div class="pagebreak" />

    <div class="container">
      {{>table}}
    </div>


  </body>
</html>
