<!DOCTYPE html>
<html lang="{{site.language}}">
  <head>
    <meta charset="utf-8">
    <title>Semesterplan</title>
    <link href="./css/main.css" rel="stylesheet" />

  </head>
  <body>
    <div class="container">
      <h1>Semesterplan – IAD2017</h1>
      <p>Änderungen vorbehalten.</p>
    </div>

    <div class="container">
      {{>semester}}
    </div>

    <div class="pagebreak"></div>

    <div class="container">
      {{>table}}
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </body>
</html>
