.lessen_caption--color {
	display: inline-block;
	width: 2rem;
	height: 1rem;
	margin-right: 0.5rem;
}

.lession_captions {
	padding-bottom: 1.2rem;
	// @media print {
	// 	color: red;
	// 	margin: 0;
  //   -webkit-column-break-inside: avoid; /* Chrome, Safari */
  //   page-break-inside: avoid;           /* Theoretically FF 20+ */
  //   break-inside: avoid-column;         /* IE 11 */
  //   display:table;                      /* Actually FF 20+ */
	// }
}
