
$OpenSansPath: "../assets/fonts/opensans" !default;
$OpenSansVersion: "1.1.0" !default;

@import "../../node_modules/normalize.css/normalize";
@import "./font.scss";
@import "./color.scss";
@import "susy";


$dayHeight: 5.2rem;

$dayPadding: 0.2rem;

$susy: (
  columns: 16,
  gutters: 0,
  math: fluid,
  output: float,
  // debug: (image: show),
);

.container {
  @media screen {

	padding: 3rem;
	width: calc(100% - 6rem);
  }
}

html {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 16px;
  @media print {
  	font-size: 8px;
  }
  line-height: 1.5;
}

b, .bold {
	font-weight: bold;
}

.small {
  font-size: 0.6rem;
}



.week {
	@include container;

    border-top-style: solid;
    border-top-width: 0.5rem;
    // border-bottom-style: solid;
    // border-bottom-width: 0.5rem;
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
}


.header {
	@include container;
	@include span(4);

    // border-top-style: solid;
    // border-top-width: 0.5rem;

    // border-bottom-style: solid;
    // border-bottom-width: 0.5rem;
}
.header--date {
	@include span(7 of 10);
}
.header--days{
	@include span(last 3);
	text-align: center;
}
.header--days--FR,
.header--days--SA {
	height: $dayHeight;
  	line-height: 4.5rem;
  	overflow: hidden;
  	font-weight: bold;
  	// text-align: right;
}
.header--days--FR {
	padding-bottom: $dayPadding;

}

.morning--container {
	@include span(6);

	.morning {

	}

}

.afternoon--container {
	@include span(last 6);
}


.lessions {
	padding-top: 0.6rem;
	padding-bottom: 0.5rem;
}

.lessions.morning,
.lessions.afternoon {
	height: $dayHeight - 0.6rem - 0.5rem;

	&.fr {
		margin-bottom: $dayPadding;
	}
}



.teacher {
  	font-weight: bold;
	display: table;
	padding-right: 0.4rem;
	padding-left: 0.4rem;
}

$highlight: rgba(255,255,255,0.4);

.comment,
.lession {
  padding-left: 0.6rem;
	padding-right: 0.6rem;
    // padding: $padding;
    // padding-left: 0;
    // padding-right: 0;
}
.comment span,
.lession span {
	background-color: $highlight;
  	font-weight: bold;
    // box-shadow:
    //   0.4rem 0 0 $highlight,
    //   -0.4rem 0 0 $highlight;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	box-decoration-break: clone;
	//line-height: 1.65rem;

}

.comment {
	margin-top: 0.05rem;
 	font-size: 0.6rem;
}
.teacher {
	margin-left: 0.6rem;
	background-color: #333;
	color: #bbb;
}





.teacher {
	font-size: 0.6rem;
}


@import "./lession_caption.scss";
@import "./print.scss";
