$OpenSansPath: 'opensans';

@mixin fontdef($path, $FontType:"Regular") {
  src:  url('./assets/fonts/#{$path}/#{$FontType}/OpenSans-#{$FontType}.eot');
  src:  url('./assets/fonts/#{$path}/#{$FontType}/OpenSans-#{$FontType}.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/#{$path}/#{$FontType}/OpenSans-#{$FontType}.woff2') format('woff2'),
        url('./assets/fonts/#{$path}/#{$FontType}/OpenSans-#{$FontType}.woff') format('woff'),
        url('./assets/fonts/#{$path}/#{$FontType}/OpenSans-#{$FontType}.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, "Bold");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, "Regular");
  font-weight: normal;
  font-style: normal;
}
